@font-face {
  font-family: Poppins;
  src: url("../src/assets/font/Poppins-Regular.ttf");
}
@font-face {
  font-family: Satisfy;
  src: url("../src/assets/font/Satisfy-Regular.ttf");
}
@font-face {
  font-family: Roboto;
  src: url("../src/assets/font/Roboto-Regular.ttf");
}
@import "tailwindcss";

@custom-variant dark (&:where(.dark, .dark *));
@theme {
  --font-Poppins: Poppins, sans-serif;
  --font-Roboto: Roboto, sans-serif;
  --font-Satisfy: Satisfy, sans-serif;
}

@keyframes bounce {
  0%,
  100% {
    transform: translateY(-75%);
    animation-timing-function: ease-out;
  }
  50% {
    transform: translateY(2px);
    animation-timing-function: ease-out;
  }
}

.animate-bounce {
  animation: bounce 1s infinite;
}

.custom-scrollbar::-webkit-scrollbar {
  width: 8px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: #1f2937;
  border-radius: 4px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb {
  background: #fbbf24;
  border-radius: 4px;
}
.dark .custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #f59e0b;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #dc2626;
  border-radius: 4px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #dc2626;
  border-radius: 4px;
}
.MyGradient {
  mask-image: linear-gradient(
    to right,
    rgba(0, 0, 0, 0),
    rgba(0, 0, 0, 1) 20%,
    rgba(0, 0, 0, 1) 80%,
    rgba(0, 0, 0, 0)
  );
}
